/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        align-items: center;
        justify-items: center;
        width: 100vw;

    }

    .wrapper{
        margin: 10px;;
        width: 90%;
        height: 100vh;
        
        
    }
    .headerWrap{
        border: 2px solid black;
        text-align: center;
        padding: 3px 20px;
       
    }
    h1{ font-size: 16px;}
    .left{
        width: 30%;
        padding: 5px 10px;
   
    }
    .right{
        width: 60%;
        padding: 5px 10px;
    }
    p{
        
        font-size: 10px;
    }
  
    h3{
        font-size: 8px;
        line-height: 5px ;
        padding:5px;
        border-top: 0.5px solid black;
    }
    .profile{
        border:none;
        padding: 5px 0px 0px 0px;

    }
    h4{
        font-size: 8px;
        line-height: 0px ;
        padding:5px;
    }
    a ,li {
        font-size: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) 
@media only screen and (min-width: 1200px) {...} */